version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/" # Location of package manifests
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "chore"
      include: "scope"
    open-pull-requests-limit: 20
    groups:
      # Define patterns to include dependencies in the group (based on dependency name)
      mui-packages:
        patterns:
          - "@mui/*"
      i18n:
        patterns:
          - "i18next"
          - "react-i18next"
      basics:
        patterns:
          - "@types/node"
          - "@types/react"
          - "@types/react-dom"
          - "react"
          - "react-dom"
          - "react-router"
          - "typescript"
          - "axios"
          - "globals"
      tanstack:
        patterns:
          - "@tanstack/*"
      redux:
        patterns:
          - "redux"
          - "react-redux"
          - "@reduxjs/*"
      emotion:
        patterns:
          - "@emotion/*"
      vite:
        patterns:
          - "@vitejs/plugin-react"
          - "vite"
      development-tools:
        patterns:
          - "@typescript-eslint/*"
          - "typescript-eslint"
          - "eslint"
          - "eslint-plugin-*"
          - "@eslint/*"
          - "prettier"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
    commit-message:
      prefix: "chore"
      include: "scope"
    open-pull-requests-limit: 20
