.logo {
    width:60%;
    height:auto;
  }
  .text {
    font-size: 2em;
    margin-top:-5rem;
  }
  .redirect {
    font-size: 1.2em;
  }
  .redirect a {
    text-decoration: none;
    color: #6559f6;
  }
  @media only screen and (max-width: 767px) {
    .logo {
      width:100%;
    }
  }